:root{
--main-color:#DAB88B;
--primary-color:#F3E9DD;
--secondary-color:#FDF6EC;
--core-color:#B7CADB;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
    background-color: var(--secondary-color);
}

nav{
    width: 100%;
    padding: 1rem 5%;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px var(--core-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--core-color);
    letter-spacing: 1px;
    margin-right: auto;
    animation-name: name-movement;
    animation: name-movement 2s infinite alternate;
}
@keyframes name-movement {
  from {
   color:#5b7185;
  }
  to {
   color: var(--main-color);
  }
}


.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 50px;
}
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color:var(--main-color);
  
}
.nav-links li a:hover{
    color: var(--core-color);
    text-shadow: 0 0 10px var(--core-color);
}
.btns{
    display: flex;
}

.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    background: var(--core-color);
    color: rgb(5, 5, 5);
    box-shadow: 0 0 15px var(--core-color);
    border: none;
    cursor: pointer;
    transition: 0.3rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 35rem;
    margin: auto;
    overflow: hidden;
}

.image{
    margin: auto;
    width: 350px;
    height:350px ;
    background-image: url("../img/mehr.jpg");
    background-size:cover;
    border-radius: 110px;
    background-position:top;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px var(--core-color);
    animation-name: image-movement;
    animation: image-movement 5s infinite alternate;
}
@keyframes image-movement{
     0%   { transform: translate(0, 0); }
     75%  { transform: translate(0, 50px); }
}

.image::before {
  content: "";
  position: absolute;
  inset: -10px;
  border: 2px solid var(--core-color);
  border-radius:30% ;
  transform: rotate(5deg);
}

.image::after {
  content: "";
  position: absolute;
  inset: -20px;
  border: 2px solid var(--main-color);
  border-radius: 45%;
  transform: rotate(15deg);
}

.lines {
  position: absolute;
  bottom: 20px;
  left: -30px;
  width: 60px;
  height: 20px;
}

.lines::before,
.lines::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  background: #5b7185;
  transform: rotate(10deg);
}

.lines::before {
  left: 0;
}

.lines::after {
  left: 15px;
}
.dots {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.dots::before,
.dots::after {
  content: "+";
  position: absolute;
  font-size: 18px;
  color: #5b7185;
}

.dots::before {
  top: 0;
  left: 10px;
}

.dots::after {
  top: 15px;
  left: 20px;
}


.biography{
  margin: auto;
  border-left: 2px solid var(--core-color);
  padding: 8px;
  margin-left: 8px;
}

#hello{
  font-size: 16px;
  font-weight: 50px;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: #DAB88B;
}

.title{
font-size: 60px;
color: #5b7185;
text-transform: uppercase;
animation-name: name-movement;
animation: name-movement 2s infinite alternate;
}
.about{
margin: auto;

text-align: center;
align-content: center;
color: #5b7185;
width: 700px;
height: 40rem;
}
#head{
    margin-bottom:20px ;
}

 .bio{
   width: 500;
   line-height: 1.8;
   letter-spacing: 0.3px;
   font-size: 18px;
   padding-left: 20px;
   color: #5b7185;
   text-align: justify;
   text-overflow: ellipsis;
   animation-name: line-color;
   animation: line-color 2s infinite alternate;
 }

 @keyframes line-color {
      from {
    border-left-color: var(--core-color);
  }
  to {
   border-left-color: var(--main-color);
  }
    
 }

#skills {
    position: relative;
    height: 35rem;
    background-color: var(--primary-color);
    overflow: hidden; /* hide overflow from big circles */
}

#skills::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--core-color);
    border-radius: 50%;
    top: -100px;
    left: -100px;
    opacity: 0.3; 
    animation: floatCircle1 8s ease-in-out infinite alternate;
}
#skills::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--core-color);
    border-radius: 50%;
    bottom: -80px;
    right: -80px;
    opacity: 0.2;
    animation: floatCircle2 10s ease-in-out infinite alternate;
}
@keyframes floatCircle1 {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(40px, 30px) scale(1.08);
    }
}

@keyframes floatCircle2 {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(-35px, -25px) scale(1.05);
    }
}

.skill-sec-title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 40px;
}
#skill-title{
    padding: 10px;
    text-align: center;
    color: #5b7185;
    animation: logo-box 3s infinite alternate;
}

@keyframes logo-box {
    from{
        color: var(--core-color);
    }
    to{
        color: var(--main-color);
    }
    
}
#skill-line{
   width: 150px;
   margin: auto;
   height: 3px;
   border: none;
   background-color: #5b7185;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 30px;
  justify-content: center;
}
.skill-item {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 3px dotted #9bb3c9;
  box-shadow: 0 0 15px var(--core-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3e9db;
}

.site-link svg {
  width: 50px;
  height: 50px;
}

#hobbies{
width: 100%;.
height: 35rem;
background-color: var(--secondary-color);
text-align: center;
padding: 50px;
}
.hobby-title {
  margin-bottom: 30px;
  color: #5b7185;
}

.hobby-table {
  width: 70%;
  margin: auto;
  padding: 50px;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  border:none;
  overflow: hidden;
  box-shadow: 0 0 15px var(--core-color);
}


.hobby-table thead {
  background: var(--primary-color);
  color: #5b7185;
}

.hobby-table th,
.hobby-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  border: none;
}

.hobby-table tbody tr:hover {
  background: var(--primary-color);
}

.hobby-table i {
  margin-right: 10px;
  color:#5b7185;
}

footer {
  background: #d3c5c5;
  opacity: 0.5;
  color: #5b7185;
  padding: 30px 10px;
  text-align: center;
}

.footer-title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #5b7185;
}

.contact-form {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  gap: 8px;
}

.input-row input {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
}


.contact-form button {
  padding: 8px;
  border: none;
  background: #5b7185;
  color:white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.contact-form button:hover {
  background: var(--main-color);
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #5b7185;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--main-color);
  transform: scale(1.2);
}

