:root{
--main-color:#DAB88B;
--primary-color:#F3E9DD;
--secondary-color:#FDF6EC;
--core-color:#B7CADB;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
    background-color: var(--secondary-color);
}

nav{
    width: 100%;
    padding: 1rem 5%;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px var(--core-color);

    /*arengment nav */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--core-color);
    letter-spacing: 1px;
    margin-right: auto;
    animation-name: name-movement;
    animation: name-movement 2s infinite alternate;
}
@keyframes name-movement {
  from {
   color:#5b7185;

  }
  to {
   color: var(--main-color);
  }
}


.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 50px;
}
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color:var(--main-color);
  
}
.nav-links li a:hover{
    color: var(--core-color);
    text-shadow: 0 0 10px var(--core-color);

}
.btns{
    display: flex;
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    background: var(--core-color);
    color: rgb(5, 5, 5);
    box-shadow: 0 0 15px var(--core-color);
    border: none;
    cursor: pointer;
    transition: 0.3rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0  0 30px var(--primary-color);
    background-color: var(--primary-color);
    border-radius:40px ;
    width: 80%;
    height: 35rem;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;

}

.image{
    margin: auto;
    width: 350px;
    height:350px ;
    background-image: url("/img/mehr.jpg");
    background-size:cover;
    border-radius: 50px;
    background-position:top;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px var(--core-color);
    animation-name: image-movement;
    animation: image-movement 5s infinite alternate;
}
@keyframes image-movement{
  0%   { transform: translate(0, 0); }
  75%  { transform: translate(0, 50px); }
}

.about{
margin: auto;
padding: 40px;
text-align: center;
color: #5b7185;
}
#head{
    margin-bottom:20px ;
}

 .bio{
   width: 700;
   line-height: 1.5;
   letter-spacing: 0.5px;
   font-size: 18px;
   padding-left: 20px;
   color: #5b7185;
   text-align: justify;
   border-radius: 20px;
   text-overflow: ellipsis;
   border-left: 3px solid var(--core-color);
   animation-name: line-color;
   animation: line-color 2s infinite alternate;
 }

 @keyframes line-color {
      from {
    border-left-color: var(--core-color);
  }
  to {
   border-left-color: var(--main-color);
  }
    
 }